<div class="container is-flex is-flex-direction-column w">

  <div class="box is-flex is-align-self-center">
    <h2 class="title">Connexion</h2>
  </div>

  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()"
        class="box is-flex is-flex-direction-column">
    <div class="form-group field ">
      <label for="email" class="label">Adresse email </label>
      <input type="email" class="form-control input" id="email" formControlName="email">
    </div>
    <div class="form-group field">
      <label for="password" class="label">Mot de passe </label>
      <input type="password" class="form-control input" id="password" formControlName="password">
    </div>
    <button type="submit"
            class="button is-primary is-medium is-flex is-align-self-flex-end">
      Se connecter
    </button>
  </form>

  <div class="box">
    <p>Vous n'avez pas de compte ? <a [routerLink]="['/signup']">Inscrivez-vous !</a></p>
  </div>

</div>
