<div class="container is-flex is-flex-direction-column w">

  <div class="box is-flex is-align-self-center">
    <h2 class="title">Créer un compte</h2>
  </div>

  <form [formGroup]="signupForm" (ngSubmit)="onSubmit()"
        class="box is-flex is-flex-direction-column">
    <div class="form-group field">
      <label for="nom" class="label">Nom</label>
      <input type="text" class="form-control input" id="nom" formControlName="nom">
    </div>
    <div class="form-group field">
      <label for="prenom" class="label">Prénom</label>
      <input type="text" class="form-control input" id="prenom" formControlName="prenom">
    </div>
    <div class="form-group field">
      <label for="email" class="label">Adresse email</label>
      <input type="email" class="form-control input" id="email" formControlName="email">
    </div>
    <div class="form-group field">
      <label for="password" class="label">Mot de passe</label>
      <input type="password" class="form-control input" id="password" formControlName="password">
    </div>
    <button type="submit"
            class="button is-primary has-text-white is-medium is-flex is-align-self-flex-end">
      Créer un compte
    </button>
  </form>

  <div class="box">
    <p>Déjà membre ? <a [routerLink]="['/login']">Connectez-vous !</a></p>
  </div>

</div>
