<nav class="navbar headerlimit mb-6 p-4" role="navigation" aria-label="main navigation">
  <div class="navbar-brand ">
    <a class="navbar-item " [routerLink]="['/home']">
        <p class="image is-64x64 is-position-absolute">
          <img ngSrc="assets/cuisineo-logo.png" alt="Accueil cuisineo" fill="fill">
        </p>
        <strong>Cuisineo</strong>
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarsearch" class="navbar-menu">
    <div class="navbar-start">
<!--      <a [routerLink]="['/home']" class="navbar-item">-->
<!--        Accueil-->
<!--      </a>-->

      <!--      todo: ajouter barre de recherche-->
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons" *ngIf="!isLoggedIn()">
          <a [routerLink]="['/signup']" class="button is-dark is-responsive">
            <strong>S'inscrire</strong>
          </a>
          <a [routerLink]="['/login']" class="button is-primary has-text-white is-responsive">
            Se Connecter
          </a>
        </div>
        <div class="content is-flex is-flex-direction-row" *ngIf="isLoggedIn()">
          <a [routerLink]="['/userProfile',userId]" [queryParams]="{debug: true}" class="icon-text is-flex-direction-column is-align-items-center has-text-primary mr-4">
          <span class="icon is-medium">
            <i class="fa fa-user fa-2x"></i>
          </span>
            <span>Compte</span>
          </a>
          <div class="buttons">
            <button (click)="logout()" class="button is-primary has-text-white ">
              Se déconnecter
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="is-bordered "></div>
</nav>
